@charset "utf-8";
/* CSS Document */

.button {font-size: x-large; }
.sr_button {font-size: x-large; }
.connect_button {font-size: x-large; }
.text {font-size: x-large; }
.status {font-size: medium; }
